body{
    margin: 0;
    padding: 0;
    
}

.menu {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
}
.paragraf1{
    width: 50%;
    background-color: blue;
    color: white;
   
}